<nav
  class="navbar nav-masthead sticky-top navbar-expand-lg navbar-dark bg-dark"
>
  <div class="container-fluid m-2">
    <a class="navbar-brand fs-3" href="/">HotelCamp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav fs-6">
        <a class="nav-link active" aria-current="page" href="/campgrounds"
          >Hotels</a
        >
        <a class="nav-link" href="/campgrounds/new">New Hotel</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentUser){ %>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <% } else{%>
        <input
          type="text"
          class="search"
          id="searchInput"
          placeholder="Search"
        />
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
